<div class="container" *ngIf="feedBack">
    <div class="wrapper">
        <div class="go-back">
            <figure>
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 9L0 5L4 1" stroke="#4661E6" stroke-width="2" />
                </svg>
            </figure>
            <span class="go-back2" [routerLink]="'/'">Go Back</span>
        </div>
        <div class="feedback">
            <div class="upvote">
                <figure>
                    <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.33398 6L5.33398 2L9.33398 6" stroke="#4661E6" stroke-width="2" />
                    </svg>
                </figure>
                <span>{{feedBack.upvotes}}</span>
            </div>
            <div class="text-box">
                <h3>{{feedBack.title}}</h3>
                <p>{{feedBack.description}}</p>
                <p class="semi-bold">
                    {{feedBack.category}}
                </p>
            </div>

            <div class="comments">
                <figure>
                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2.62074 16H1.34534L2.24718 15.0895C2.73344 14.5986 3.0371 13.9601 3.11873 13.2674C1.03637 11.8878 0 9.88917 0 7.79388C0 3.92832 3.51913 0 9.0305 0C14.8692 0 18 3.61479 18 7.45522C18 11.321 14.8361 14.9333 9.0305 14.9333C8.0135 14.9333 6.95226 14.7963 6.00478 14.5448C5.10787 15.4735 3.89262 16 2.62074 16Z"
                            fill="#CDD2EE" />
                    </svg>
                </figure>

                <span>{{feedBack.comments ? feedBack.comments.length : 0}}</span>
            </div>
        </div>
        <section class="comments-section padding-x" *ngIf="feedBack.comments">
            <div class="comments-section-wrapper">
                <div class="header">
                    <h3>4 Comments</h3>
                </div>
                <div class="comment" *ngFor="let comment of feedBack.comments;let i = index">

                    <div class="comment-body">
                        <img src="{{comment.user.image}}" alt="">
                        <div class="comment-header">
                            <div class="name">
                                <h4>{{comment.user.name}}</h4>
                                <h4>@{{comment.user.username}}</h4>
                            </div>
                            <span (click)="onReplyHandler(i, false)">Reply</span>
                        </div>

                        <p>{{comment.content}}</p>
                        <div class="add-reply" *ngIf="replyClick && i === clickedCommentIndex && isReply == false">
                            <app-add-reply (onReplyAdd)="addReply($event,comment,feedBack.id)" [comment]="comment"
                                [user]="user" [replyClick]="replyClick">
                            </app-add-reply>
                        </div>
                    </div>

                    <section class="replies-section" *ngIf="comment.replies">
                        <div class="replies" *ngFor="let reply of comment.replies; let j = index">
                            <div class="reply-body">
                                <img src="{{reply.user.image}}" alt="">
                                <div class="reply-header">
                                    <div class="name">
                                        <h4>{{reply.user.name}}</h4>
                                        <h4>@{{reply.user.username}}</h4>
                                    </div>
                                    <span (click)="onReplyHandler(j, true)">Reply</span>
                                </div>

                                <p><span style="color:var(--purple); font-weight: 700;">@{{reply.replyingTo}}</span>
                                    {{reply.content}}</p>
                                <div class="add-reply" *ngIf="replyClick && j === clickedReplyIndex && isReply == true">
                                    <app-add-reply (onReplyAdd)="addReply($event,comment,feedBack.id)" [reply]="reply"
                                        [comment]="comment" [user]="user" [replyClick]="replyClick">
                                    </app-add-reply>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <app-add-comment [user]="user" (onCommentAdd)="addComment($event,feedBack.id)"
                [comments]="feedBack.comments"></app-add-comment>
        </section>
    </div>
</div>