.container {
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 730px;
    border-radius: 13px;

    .wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2em 2em;

            .button-2{
                max-width: 155px;
                padding: 0 1.2em;
            }
        }

        .feedback {
            width: 100%;
            display: grid;
            align-items: center;
            row-gap: 20px;
            column-gap: 40px;
            grid-template-columns: .2fr 1fr .2fr;
            padding: 1.2em 2em;
            border-radius: 13px;
            background-color: #FFFFFF;

            .upvote {
                cursor: pointer;
                grid-column: 1/1;

                @media only screen and (max-width:432px) {
                    grid-column: 1/2;
                    grid-row: 2/2;
                    flex-direction: row;
                    column-gap: 10px;

                    figure{
                        display: flex;
                        align-items: center;
                    }
                }
                span {
                    color: var(--dark-graysh-blue);
                    font-weight: 700;
                    user-select: none;
                }

                &:hover {
                    background-color: #CFD7FF;

                    span {
                        color: var(--dark-graysh-blue);
                    }
                }
            }

            .upvote.active {
                background-color: var(--dark-blue);
                span {
                    color: white;
                }

                svg {
                    path {
                        stroke: white;
                    }
                }
            }

            .text-box {
                display: flex;
                flex-direction: column;
                grid-column: 2/2;
                row-gap: 8px;
                cursor: pointer;
                @media only screen and (max-width:432px) {
                    grid-column: 1/-1;
                }
                &:hover {
                    h3 {
                        color: var(--dark-blue) !important;
                    }
                }

                h3 {
                    color: var(--dark-graysh-blue);
                }

                p {
                    color: var(--light-graysh-blue);
                    font-weight: 400;
                }

                p.semi-bold {
                    color: var(--graysh-blue);
                    background-color: var(--light-gray);
                    width: fit-content;
                    padding: .4em 1em;
                    border-radius: 7px;
                    margin: 0;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }

            .comments {
                grid-column: 3/3;
                display: flex;
                align-items: center;
                column-gap: 10px;

                figure {
                    display: flex;
                    align-items: center;
                }

                span {
                    color: var(--dark-graysh-blue);
                    font-weight: 700;
                }
            }
        }

        .comments-section {
            background-color: #FFFFFF;
            border-radius: 13px;

            h3 {
                color: var(--dark-graysh-blue);
            }

            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .comments-section-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 30px;

                .header{
                    padding: 0;
                }

                .comment {
                    display: flex;
                    flex-direction: column;
                    column-gap: 30px;

                    &:first-child {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #8c92b33e;
                    }

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        grid-area: img;
                        justify-self: end;
                        margin-right: 20px;
                    }

                    .comment-body,
                    .reply-body {
                        display: grid;
                        grid-template-columns: .3fr 1fr 1fr 1fr;
                        grid-template-rows: auto;
                        grid-template-areas:
                            "img header header header"
                            ". text text text"
                            ". reply reply reply";
                        row-gap: 10px;

                        .comment-header,
                        .reply-header {
                            display: flex;
                            align-items: center;
                            column-gap: 30px;
                            grid-area: header;

                            .name {
                                flex: 1;

                                h4 {
                                    color: var(--light-graysh-blue);
                                    font-weight: 400;

                                    &:first-child {
                                        color: var(--dark-graysh-blue) !important;
                                        font-weight: 700;
                                    }
                                }
                            }

                            span {
                                &:last-child {
                                    color: var(--dark-blue);
                                    font-weight: 600;
                                    cursor: pointer;
                                }
                            }
                        }

                        p {
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 22px;
                            color: var(--light-graysh-blue);
                            grid-area: text;
                            height: fit-content;
                        }

                        .add-reply {
                            grid-area: reply;
                        }
                    }

                    .replies-section {
                        background-color: #FFFFFF;
                        border-radius: 13px;
                        grid-column: 1/-1;
                        justify-self: start;
                        margin-top: 25px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        border-left: 1px solid #8c92b33e;
                        padding-left: 30px;
                        width: 100%;
                    }
                }
            }
        }
    }
}