@import url(./variables.scss);
@import url(./text.scss);
@import url(./buttons.scss);
@import url(./elements.scss);

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Jost', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--very-light-gray);
}

.padding-m {
    padding: 1em;
}

.padding-x {
    padding: 2em;
}

.container {
    padding: 1em;
}