:root {
    --purple: #AD1FEA;
    --dark-blue: #4661E6;
    --graysh-blue: #4661E6;
    --white: #FFFFFF;
    --light-gray: #F2F4FF;
    --very-light-gray: #F7F8FD;
    --dark-graysh-blue: #3A4374;
    --light-graysh-blue: #647196;
    --orange: #F49F85;
    --sky-blue: #62BCFA;
    --red:#D73737;
}