<div class="container">
    <div class="wrapper">
        <div class="header">
            <h3>Add Comment</h3>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="input-div">
                <input type="text" placeholder="Type your comment here" [(ngModel)]="commentContent" name="comment" required>
            </div>

            <div class="bottom">
                <span [ngStyle]="{'color':commentContent.length > chars ? 'red' : 'var(--light-graysh-blue)' }">{{commentContent.length <= chars ? chars - commentContent.length : 0}} Characters left</span>
                <button [disabled]="!commentContent || commentContent.length > chars" type="submit" class="button-1">Post Comment</button>
            </div>
        </form>
    </div>
</div>