<div class="container padding-x">
    <div class="go-back">
        <figure>
            <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 9L0 5L4 1" stroke="#4661E6" stroke-width="2" />
            </svg>
        </figure>
        <span class="go-back2" [routerLink]="['/details', feedback.id]">Go Back</span>
    </div>

    <div class="wrapper">
        <div class="plus">
            <figure>
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.3425 16V10.1657H16.0295V5.86372H10.3425V0H5.74586V5.86372H0V10.1657H5.74586V16H10.3425Z"
                        fill="white" />
                </svg>
            </figure>
        </div>
        <h1>
            Editing '{{feedback.title}}'
        </h1>

        <div class="form-group">
            <form [formGroup]="createFeedbackForm" (ngSubmit)="onSubmit()">
                <div class="create-title create">
                    <h4>Feedback Title</h4>
                    <label>Add a short, descriptive headline</label>
                    <input type="text" formControlName="newTitle">
                </div>
                <div class="create-category create">
                    <h4>Category</h4>
                    <label>Choose a category for your feedback</label>
                    <select formControlName="newCategory">
                        <option [value]="categoryEnum.Feature">{{categoryEnum.Feature}}</option>
                        <option [value]="categoryEnum.UI">{{categoryEnum.UI}}</option>
                        <option [value]="categoryEnum.UX">{{categoryEnum.UX}}</option>
                        <option [value]="categoryEnum.Enhancement">{{categoryEnum.Enhancement}}</option>
                        <option [value]="categoryEnum.Bug">{{categoryEnum.Bug}}</option>
                    </select>
                </div>
                <div class="create-status create">
                    <h4>Update Feedback</h4>
                    <label>Change feedback status</label>
                    <select formControlName="newStatus">
                        <option value="Planned">Planned</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Live">Live</option>
                    </select>
                </div>
                <div class="create-detail create">
                    <h4>Feedback Detail</h4>
                    <label>Include any specific comments on what should be improved, added, etc.</label>
                    <input type="text" formControlName="newDescription">
                </div>

                <div class="buttons" >
                    <button type="submit" class="button-4" [routerLink]="''" (click)="deleteFeedback()">Delete</button>
                    <div class="group">
                        <button type="submit" class="button-3" [routerLink]="['/details', feedback.id]">Cancel</button>
                        <button type="submit" class="button-1" [disabled]="createFeedbackForm.invalid">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>