.container {
    width: 100%;
    max-width: 1110px;
    color: #FFFFFF;
    margin: 100px auto 30px auto;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;
        background-color: var(--dark-graysh-blue);
        padding: 1.7em 2.5em 1.7em 2.5em;
        border-radius: 13px;
        @media only screen and (max-width:404px) {
            padding: 1.7em 1.5em 1.7em 1.5em;
        }
        .title {
            display: flex;
            flex-direction: column;
            justify-content: start;
            row-gap: 5px;

            h1 {
                font-weight: 700;
                letter-spacing: -0.333333px;
            }
        }
    }
}